@model Cameo.ViewModels.TalentGridViewItem

<div class="col-lg-3 col-xl-2 col-md-4 col-sm-4 col-6">
    <a href="/talents/details/@Model.Username">
        <div class="team team__style--4 text-center mb--15">
            <div class="thumbnail2 paralax-image">
                @*<i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>*@
                <img class="lozad singleTalentImg" data-src="@Model.Avatar.Url" src="~/images/blank-png.png">
                @*<img src="@Model.Avatar.Url" alt="@Model.FullName">*@
                <div class="team-badge badge--right">
                    <span>@Model.PriceStr сум</span>
                </div>
            </div>
            <div class="info">
                <h3 class="title mb--0">@Model.FullName</h3>
                @if (Model.Projects.Count > 0)
                {
                    <span class="desc font--12">@Model.Projects[0].Name</span>
                }
            </div>
        </div>
    </a>
</div>

<style>
    /*img.lozad
    {
        min-height: 100px;
    }*/
</style>