@model Cameo.ViewModels.TalentDetailsVM
@using Cameo.Models.Enums

@using Cameo.Common
@using Microsoft.Extensions.Options;

@inject IOptions<AppConfiguration> AppSettings

@{
    ViewData["Title"] = Model.FullName;
    ViewData["talent"] = Model;
    Layout = "~/Views/Shared/_LayoutDaven.cshtml";

    //ViewData["RequestPriceToStr"] = Model.RequestPriceStr;
}

<!-- Start Single Product Details -->
<div class="single-product-details  pt--80 pt_md--80 pt_sm--80  pb--80  pb_lg--20 pb_md--20 pb_sm--20 bg-color">
    <div class="wrapper plr--80 plr_lg--50 plr_md--30 plr_sm--30">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-1 col-sm-1"></div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                <div class="product__details__container">
                    <div class="big_img">
                        @if (Model.IntroVideo != null && Model.IntroVideo.ID > 0)
                        {
                            <div class="videoBox">
                                <video class="video-js" id="introVideo" autoplay="" loop="" playsinline="" preload="auto">
                                    <source src="@Model.IntroVideo.Url" type="video/mp4">
                                </video>
                                <div class="contolActionBtn" onclick="ToggleMute('introVideo');">
                                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="w-100 talentProfileImg" src="@Model.Avatar.Url" alt="@Model.FullName">
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-5 col-12 mt_md--40 mt_sm--40">
                <div class="single-product-inner">
                    <h2 class="title">@Model.FullName <br /></h2>
                    <span class="prize">@Model.PriceStr @localizer["UZS"]</span>
                    @{
                        string projects = "";
                        foreach (var item in Model.Projects)
                        {
                            projects += item.Name + ", ";
                        }
                        if (projects.Length > 0)
                        {
                            projects = projects.Substring(0, projects.Length - 2);
                        }
                    }
                    <span class="prize">@projects</span>
                    <p>
                        @Model.Bio
                    </p>

                    @if (Model.IsAvailable)
                    {
                        if (!User.Identity.IsAuthenticated || (bool)ViewData["isUserCustomer"] == true)
                        {
                            //if ((bool)ViewData["isUserCustomer"] == true)
                            //{
                            <div class="product-action">
                                <div class="product-action-btn">
                                    <a class="button-link button-size__xl button__black" href="/videoRequest/create?username=@Model.Username">
                                        <span class="button-text button-text__14">
                                            @localizer["OrderVideo"] (@Model.RequestPriceStr @localizer["UZS"])
                                        </span>
                                    </a>
                                    @*<button type="button" class="button-link button__black" data-toggle="modal" data-target="#bookModal">
                                            Запросить видео (@Model.PriceStr сум)
                                        </button>*@
                                </div>
                            </div>
                            @*}
                                else
                                {
                                    <div class="alert alert-danger">Таланты не могут заказывать видео. Зайдите как клиент.</div>
                                }*@
                        }
                        else
                        {
                            <div class="alert alert-danger">@localizer["TalentsCannotOrder"]</div>
                            @*<div class="alert alert-danger"><a href="/Account/Login"><u>Войдите</u></a>, чтобы отправить запрос</div>*@
                        }
                    }

                    <div class="categoriesBox mt--40 mb--20">
                        <span class="button-link button-size__radious50 button__color--3">
                            <span class="icon-left">
                                <i class="fa fa-info-circle"></i>
                            </span>
                            <a class="button-text" href="javascript: void();" data-toggle="modal" data-target="#myModal">How does it work?</a>
                        </span>
                    </div>

                    <div class="categoriesBox mt--40 mb--20">
                        @{
                            foreach (var item in Model.Categories)
                            {
                                <span>
                                    <a class="button-link button-size__radious50 button__color--3" href="/talents/bycategory?cat=@item.ID">@item.Name</a>
                                </span>
                            }
                        }
                    </div>

                    @*<div class="product-html-custom">
                            <a href="#"><i class="dlicon location_pin"></i>Store availability</a>
                            <a href="#"><i class="dlicon location_pin"></i>Delivery and return</a>
                            <a href="#"><i class="dlicon design_measure-17"></i>Size Guide</a>
                        </div>

                        <div class="product-meta mb--40">
                            <div class="sku-wrapper">
                                SKU: <span>REF. LA-2491</span>
                            </div>
                            <div class="sku-wrapper">
                                Categories: <span>Brands</span>
                            </div>
                        </div>*@

                    @*<div class="social-icons bg-owncolor text-left">
                            <a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="pinterest" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                            <a class="youtube" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>*@

                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-1 col-sm-1"></div>
        </div>
    </div>
</div>
<!-- End Single Product Details -->

<div id="latestVideosContainer" class="plr--80 plr_lg--50 plr_md--50 plr_sm--30 mb--40">
    <i id="spinner" class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw mt--30 mb--30" style="margin-left: 49%;"></i>
    @*<img class="spinner" src="@AppSettings.Value.SpinnerUrl" style="height:40px;" />*@
    <div class="row">
        @*<div class="col-lg-2 col-md-1 col-sm-1"></div>*@
        @*<div class="innerContainer col-lg-8 col-md-10 col-sm-10 col-12"></div>*@
        <div class="innerContainer"></div>
        @*<div class="col-lg-2 col-md-1 col-sm-1"></div>*@
    </div>
</div>

<div id="relatedTalentsContainer" class="plr--80 plr_lg--50 plr_md--50 plr_sm--30  mb--40">
    <i id="spinner" class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw mt--30 mb--30" style="margin-left: 49%;"></i>
    @*<img class="spinner" src="@AppSettings.Value.SpinnerUrl" style="height:40px;" />*@
    <div class="row">
        @*<div class="col-lg-2 col-md-1 col-sm-1"></div>*@
        @*<div class="innerContainer col-lg-8 col-md-10 col-sm-10 col-12"></div>*@
        <div class="innerContainer" style="width: 100%;"></div>
        @*<div class="col-lg-2 col-md-1 col-sm-1"></div>*@
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @*<h4 class="modal-title">Modal Heading</h4>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <partial name="_OrderStepsClarification" />
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>*@

        </div>
    </div>
</div>

<style>
    .single-product-inner {
        padding: 0;
    }

    button.cart {
        margin: 0;
        padding: 15px 70px;
        font-size: 14px;
        background-color: #2f2f2f;
        color: #fff;
        font-weight: 700;
        line-height: 30px;
        transition: all .25s ease-out;
    }

    .video-js {
        width: 100%;
        height: 100%;
        border-radius: 0.25rem;
    }

    .talentProfileImg {
        object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
        object-position: center; /* Center the image within the element */
        height: 500px;
        width: 100%;
        border-radius: 0.25rem;
    }
</style>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@

    <script>
        $(document).ready(function ()
        {
            $.ajax({
                type: "GET",
                url: "/Talents/GetLatestVideosForTalent",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    id: Number("@Model.ID")
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data)
                {
                    $("#latestVideosContainer .innerContainer").html(data);
                },
                error: function (data)
                {
                    console.log(data);
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data)
                {
                    $("#latestVideosContainer .spinner").hide();
                }
            });

            $.ajax({
                type: "GET",
                url: "/Talents/GetRelated",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    id: Number("@Model.ID"),
                    count: 7
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data)
                {
                    $("#relatedTalentsContainer .innerContainer").html(data);
                    lozadObserver.observe();
                },
                error: function (data)
                {
                    console.log(data);
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data)
                {
                    $("#relatedTalentsContainer .spinner").hide();
                }
            });
        });

        function ToggleMute(videoTagID)
        {
            var vid = document.getElementById(videoTagID);
            var curMuteState = vid.muted;
            vid.muted = !curMuteState;
            $("#" + videoTagID).parent().children(".contolActionBtn").children("i").toggleClass("fa-volume-off");
            $("#" + videoTagID).parent().children(".contolActionBtn").children("i").toggleClass("fa-volume-up");
            //$(".videoBox .actionBtn i").toggleClass("fa-volume-off");
            //$(".videoBox .actionBtn i").toggleClass("fa-volume-up");
        }

        function TogglePlayPause(videoTagID)
        {
            var vid = document.getElementById(videoTagID);
            var isPaused = vid.paused;
            if (isPaused)
            {
                PauseAllVideosOnPage();
                vid.play();
                $("#" + videoTagID).parent().children(".contolActionBtn").css("padding", "0px 11px");
            }
            else
            {
                vid.pause();
                $("#" + videoTagID).parent().children(".contolActionBtn").css("padding", "0px 13px");
            }
                

            $("#" + videoTagID).parent().children(".contolActionBtn").children("i").toggleClass("fa-play");
            $("#" + videoTagID).parent().children(".contolActionBtn").children("i").toggleClass("fa-pause");
        }

        function PauseAllVideosOnPage()
        {
            var vids = document.getElementsByClassName("requestVideo");
            for (i = 0; i < vids.length; i++)
            {
                vids[i].pause();
                var videoTagID = vids[i].id;
                $("#" + videoTagID).parent().children(".contolActionBtn").children("i").removeClass("fa-pause");
                $("#" + videoTagID).parent().children(".contolActionBtn").children("i").addClass("fa-play");
            }
        }
    </script>
}