@model IEnumerable<Cameo.ViewModels.VideoDetailsVM>

<h3 class="heading-divider heading-divider__themeColor">@localizer["LatestVideos"]</h3>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-2 col-lg-3 col-md-4 col-6 pb--40">
            <span><a href="/Video/Details/@item.RequestID">@localizer["From"] @item.From @localizer["To"] @item.To</a></span>
            <div class="videoBox">
                <video class="video-js requestVideo" id="request_@item.RequestID" preload="auto" style="">
                    <source src="@item.Video.Url" type="video/mp4">
                </video>
                <div class="contolActionBtn" onclick="TogglePlayPause('request_' + '@item.RequestID');" style="padding: 0px 13px;">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
            </div>
            
            @*<div class="card">
                <div class="card-header">
                    <span>От @item.From для @item.To</span>
                    <span><small><a href="/Video/Details/@item.RequestID">Подробнее</a></small></span>
                </div>
                <div class="card-body">
                    <video width="240" height="320" controls><source src="/Video/GetVideo/@item.RequestID" type="video/mp4"></video>
                </div>
            </div>*@
        </div>
    }
</div>
