@model Cameo.ViewModels.CustomerEditVM
@using Cameo.Utils
@using Cameo.Common

@using Microsoft.Extensions.Options;

@inject IOptions<AppConfiguration> AppSettings

@{
    ViewData["Title"] = "Персональные данные";
    Layout = "~/Views/Shared/_LayoutDaven.cshtml";
}

@*<br />*@
<div class="row bg-color ptb_md--60 ptb_sm--60" data-bg-color="#ffffff">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-2"></div>*@
            <div class="col-lg-4 mt--30">
                <partial name="_CustomerSidebarDaven" />
            </div>
            <div class="col-lg-8 mt--30 mb--30">
                <h2>@ViewData["Title"]</h2>

                @if (ViewData["successfullySaved"] != null)
                {
                    <div class="alert alert-success">
                        Данные успешно сохранены
                    </div>
                }

                <!-- Start Contact Form -->
                <div class="draven-contact-form">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-form-wrapper">
                                    <!-- Start Contact Wrapper -->
                                    <div class="contact__form--1">
                                        <!-- Enrolment form -->
                                        <form method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="row">
                                                <div class="col-lg-12 mt--20">
                                                    <input asp-for="ID" type="hidden" />
                                                    <input type="hidden" id="fileID" name="fileID" />

                                                    <!-- Start Single Team -->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 p-0">
                                                        <div class="team team__style--1 text-center">
                                                            <div class="thumbnail">
                                                                <img id="imgContainer" src="@Model.Avatar.Url" alt="Avatar">
                                                                <img id="spinner" src="@AppSettings.Value.SpinnerUrl" style="display: none; height:100px;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 mt--10 p-0 text-center">
                                                        @*<a class="button-link button-size__8 button__transparent--border--dashed" href="javascript: void(0);"><span class="icon-left"><i class="dlicon ui-1_zoom-split"></i></span><span class="button-text">Редактировать фото</span></a>*@
                                                        <label for="imgInp" class="button-link button-size__8 button__transparent--border--dashed" style="cursor:pointer;"><span class="icon-left"><i class="dlicon ui-1_zoom-split"></i></span> <span class="button-text">Редактировать фото</span></label>
                                                        <input type='file' id="imgInp" style="display: none;"/>
                                                    </div>
                                                    <!-- End Single Team -->
                                                </div>
                                                <div class="col-lg-12 mt--20">
                                                    <input asp-for="FullName" type="text" placeholder="Имя *">
                                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 mt--20">
                                                    <textarea asp-for="Bio" type="text" placeholder="О себе"></textarea>
                                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 mt--20">
                                                    <input type="submit" value="Сохранить">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Contact Form -->
            </div>
            @*<div class="col-lg-2"></div>*@
        </div>
    </div>
</div>

<style>
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #d3d3d3;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #d3d3d3;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #d3d3d3;
    }

    select {
        font-size: 18px;
        padding: 25px;
        border-style: solid;
        border-width: 1px;
        border-color: #d4d4d4;
        width: 100%;
        line-height: inherit;
        height: auto;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FileAjaxUpload.js"></script>

    <script>
        $(document).ready(function () {
            $("#imgInp").change(function () {
                FileAjaxUpload(this, @Model.ID, "@Constants.FileTypes.CUSTOMER_AVATAR", "spinner", "imgContainer");
            });
        });
    </script>
}