@{
    var controller = ViewContext.RouteData.Values["Controller"];
    string active = "";
}

<div class="list-group">
    @{
        active = "";
        if (controller.Equals("Talent"))
        { active = "active"; }
    }
    <a href="~/Talent" class="list-group-item @active">Моя страница</a>
    @{
        active = "";
        if (controller.Equals("TalentPersonalData"))
        { active = "active"; }
    }
    <a href="~/TalentPersonalData" class="list-group-item @active">Персональные данные</a>
    @{
        active = "";
        if (controller.Equals("TalentProjectsAndCategories"))
        { active = "active"; }
    }
    <a href="~/TalentProjectsAndCategories" class="list-group-item @active">Мои проекты. Категории</a>
    @{
        active = "";
        if (controller.Equals("TalentPrice"))
        { active = "active"; }
    }
    <a href="~/TalentPrice" class="list-group-item @active">Изменить цену (<span id="talentPrice">...</span> сум)</a>
    @{
        active = "";
        if (controller.Equals("TalentBalanceReplenish"))
        { active = "active"; }
    }
    <a href="~/TalentBalanceReplenish" class="list-group-item @active">Пополнить баланс</a>
    @{
        active = "";
        if (controller.Equals("TalentCreditCard"))
        { active = "active"; }
    }
    <a href="~/TalentCreditCard" class="list-group-item @active">Управление картой</a>
    @*@{
        active = "";
        if (controller.Equals("tt"))
        { active = "active"; }
    }
    <a href="#" class="list-group-item @active">Мои завершенные видео</a>
    @{
        active = "";
        if (controller.Equals("tt"))
        { active = "active"; }
    }
    <a href="#" class="list-group-item @active">Мои незавершенные видео <span class="badge">3</span></a>
    @{
        active = "";
        if (controller.Equals("tt"))
        { active = "active"; }
    }
    <a href="/TalentVideoRequest" class="list-group-item @active">Запросы на видео <span class="badge">12</span></a>*@
</div>

<script>
    const Http = new XMLHttpRequest();
    const url = '/Talent/GetPrice';
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange = (e) => {
        //console.log(Http.responseText)
        document.getElementById("talentPrice").innerText = Http.responseText;
    }
</script>