@using Cameo.Models.Enums

<table id="videoRequests" class="table table-condensed">
    <thead>
        <tr>
            <th>id</th>
            <th>toFrom</th>
            <th>person</th>
            <th>statusId</th>
            <th>statusName</th>
            <th>dateCreated</th>
            <th>deadline</th>
            <th>actions</th>
        </tr>
    </thead>
</table>

<script>
    var userType = "@ViewData["userType"]";
    var talentType = "@UserTypesEnum.talent.ToString()";
    var customerType = "@UserTypesEnum.customer.ToString()";

    var VideoRequestStatusEnum = {
        waitingForResponse: "@((int)VideoRequestStatusEnum.waitingForResponse)",
        requestCanceledByCustomer: "@((int)VideoRequestStatusEnum.requestCanceledByCustomer)",
        requestExpired: "@((int)VideoRequestStatusEnum.requestExpired)",
        requestCanceledByTalent: "@((int)VideoRequestStatusEnum.requestCanceledByTalent)",
        requestAcceptedAndwaitingForVideo: "@((int)VideoRequestStatusEnum.requestAcceptedAndwaitingForVideo)",
        videoCanceledByCustomer: "@((int)VideoRequestStatusEnum.videoCanceledByCustomer)",
        videoCanceledByTalent: "@((int)VideoRequestStatusEnum.videoCanceledByTalent)",
        videoExpired: "@((int)VideoRequestStatusEnum.videoExpired)",
        videoCompleted: "@((int)VideoRequestStatusEnum.videoCompleted)",
        videoPaid: "@((int)VideoRequestStatusEnum.videoPaid)"
    };
</script>
<script src="~/js/VideoRequestDatatable.js"></script>