@model Cameo.ViewModels.VideoRequestEditVM
@using Cameo.Models.Enums
@using Cameo.Common

@{
    var videoRequestTypes = ViewData["videoRequestTypes"] as List<SelectListItem>;
    var talent = ViewData["talent"] as Cameo.ViewModels.TalentDetailsVM;
    int myselfID = (int)VideoRequestTypeEnum.myself;
}

@if (ViewBag.success != null)
{
    <div class="container">
        <div class="alert alert-success">
            @localizer["SuccessOrderEdited"]
        </div>
        <br />
    </div>

    <script>
        setTimeout(function ()
        {
            // Simulate an HTTP redirect:
            window.location.replace("/CustomerVideoRequest/Details/" + @ViewBag.requestID);
        }, 1000);
    </script>
}
else
{
    <!-- Start Contact Form -->
    <div class="draven-contact-form bg-color mb--40">
        <div class="">
            <h3>@localizer["VideoOrderedFrom"] @talent.FullName <small>(@talent.PriceStr @localizer["UZS"])</small></h3>
            <div class="row">
                <div class="col-12">
                    <div class="contact-form-wrapper">
                        <!-- Start Contact Wrapper -->
                        <div class="contact__form--1">
                            @*<form asp-controller="Account" asp-action="Register" method="post" id="registrationForm" data-ajax="true" data-ajax-method="post">*@
                            <div class="row">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <input asp-for="ID" type="hidden" />

                                <div class="col-lg-12">
                                    <label asp-for="TypeID"></label>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in videoRequestTypes)
                                    {
                                        <div class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.TypeID, item.Value, new { @class = "custom-control-input", id = "customRadio_" + i, onclick = "OnTypeChanges(this.value)" })
                                            <label class="custom-control-label" for="customRadio_@i">@item.Text</label>
                                        </div>

                                        i++;
                                    }
                                    <span asp-validation-for="TypeID" class="text-danger"></span>
                                </div>

                                <div class="col-lg-6 mt--20">
                                    <label asp-for="To"></label>
                                    <input type="text" asp-for="To" placeholder="Санжаре">
                                    <span asp-validation-for="To" class="text-danger"></span>
                                </div>
                                @{ 
                                    string display = "block";
                                    if (Model.TypeID == myselfID)
                                    {
                                        display = "none";
                                    }
                                }
                                <div class="col-lg-6 mt--20" id="fromBox" style="display: @display">
                                    <label asp-for="From"></label>
                                    <input type="text" asp-for="From" placeholder="Наргизе">
                                    <span asp-validation-for="From" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 mt--20">
                                    <label asp-for="Instructions"></label>
                                    <textarea asp-for="Instructions"></textarea>
                                    <span asp-validation-for="Instructions" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 mt--20">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" asp-for="IsNotPublic" class="custom-control-input" id="switch1">
                                        <label class="custom-control-label" for="switch1">@localizer["DoNotMakeVideoPublic"]</label>
                                    </div>
                                    <span asp-validation-for="IsNotPublic" class="text-danger"></span>
                                </div>

                                <div class="col-lg-12 mt--20">
                                    <p class="form-messege text-danger"></p>
                                </div>
                                <div class="col-lg-12 mt--20">
                                    @*<input type="submit" value="@localizer["UpdateOrder"]">*@
                                    <button type="submit" class="button-link button-size__xl button__black" style="width: 100%">
                                        <span class="button-text">@localizer["UpdateOrder"]</span>
                                    </button>
                                    @*<p class="form-messege">we fawe fwe we</p>*@
                                </div>
                            </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
}

<script>
    var myselfID = Number("@myselfID");

    function OnTypeChanges(typeID) {
        if (typeID == myselfID)
            $("#fromBox").hide();
        else
            $("#fromBox").show();
    }
</script>