@model Cameo.ViewModels.TalentShortInfoVM
@using Cameo.Models.Enums

@{
    ViewData["Title"] = localizer["MyData"];
    Layout = "~/Views/Shared/_LayoutDaven.cshtml";
}

<div class="row bg-color ptb_md--60 ptb_sm--60" data-bg-color="#ffffff">
    <div class="plr--80 plr_lg--50 plr_md--50 plr_sm--40">
        <div class="row">
            <div class="col-lg-4 mt--30">
                <partial name="_TalentSidebarDaven" />
            </div>
            <div class="col-lg-8 mt--30 mb--30">
                <h2>@ViewData["Title"]</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <!-- Start Single Team -->
                        <div class="team team__style--3 text-center">
                            <div class="thumbnail">
                                <img src="@Model.Avatar.Url" alt="Draven Images">
                            </div>
                            <div class="hover-action pt--20">
                                <div class="info mb--15">
                                    <h6 class="title mb--0">@Model.FullName</h6>
                                    @*<span class="desc font--12">CEO/ Founder</span>*@
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        @*<img id="imgContainer" src="@Model.Avatar.Url" alt="Avatar" class="img-thumbnail img-responsive" height="150" width="150" />*@
                    </div>
                    @*<div class="col-sm-4">
                        <div>
                            <i class="glyphicon glyphicon-star text-warning"></i> 5.0
                        </div>
                        <div>
                            Rating
                        </div>
                    </div>*@
                    <div class="col-sm-4">
                        <a id="aviabilityBtn" class="button-link button-size button__transparent--border--four" href="javascript: ToogleAvailability();" style="border-radius: 0.25rem;">
                            <span class="button-text" style="font-size: 20px;">@localizer["Availability"]</span>
                            @{ 
                                string faIcon = "fa-square-o";
                                if (Model.IsAvailable)
                                {
                                    faIcon = "fa-check-square-o";
                                }
                            }
                            <span class="icon-right"><i class="fa fa-2x @faIcon"></i></span>
                        </a>

                        @*<div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(m => m.IsAvailable, new { @class = "form-control", @onchange = "ToogleAvailability(this);" })
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Some text">
                        </div>*@
                        @*Доступность: @Html.CheckBoxFor(m => m.IsAvailable, new { @class = "form-control", @onchange = "ToogleAvailability(this);" })*@
                    </div>
                </div>
                <br />
                <div id="statisticsContainer">
                    <i id="spinner" class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw mt--30 mb--30" style="margin-left: 49%;"></i>
                    <div class="row">
                        <div class="innerContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var isAvailable = "@Model.IsAvailable";
        var availability = true;

        if (isAvailable != "True")
            availability = false;

        $(document).ready(function ()
        {
            $.ajax({
                type: "GET",
                url: "/Talent/GetDashboardInfo",
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data)
                {
                    $("#statisticsContainer .innerContainer").html(data);
                },
                error: function (data)
                {
                    console.log(data);
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data)
                {
                    $("#statisticsContainer .spinner").hide();
                }
            });
        });

        function ToogleAvailability()
        {
            var confirmQuestion = "@localizer["AvailabilityConfirmationText"]";
            if (availability == true)
                confirmQuestion = "@localizer["UnavailabilityConfirmationText"]";
            if (!confirm(confirmQuestion))
                return;

            availability = !availability;

            $.ajax({
                type: "POST",
                url: "/Talent/SetAvailability?availability=" + availability,
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data)
                {
                    //alert("Статус успешно изменен!");
                    $("#aviabilityBtn i").toggleClass("fa-check-square-o");
                    $("#aviabilityBtn i").toggleClass("fa-square-o");
                },
                error: function (data)
                {
                    console.log(data);
                }
            });
        }
    </script>
}