@model Cameo.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutDaven.cshtml";
}

<!-- Start Contact Form -->
<div class="draven-contact-form ptb--60 bg-color ptb_md--60 ptb_sm--60">
    <div class="plr_lp--100 plr_lg--100 plr_md--100 plr_sm--5 plr--100">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-1"></div>
            <div class="col-xl-6 col-lg-8 col-10">
                <div class="contact-form-wrapper">
                    <div class="section-title mb--30">
                        <h1 class="fontWeight400">@localizer["LogInUsingPhoneNumber"]</h1>
                        @*<p class="font--18">
                            @localizer["LogInTip"]
                        </p>*@
                    </div>
                    <!-- Start Contact Wrapper -->
                    <div class="contact__form--1">
                        <!-- Phone number input -->
                        <div class="row" id="phoneNumberForm">
                            <div class="col-lg-12">
                                <div class="input-group" style="margin-bottom: 20px">
                                    @*<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>*@
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="font-size: 18px">+998</span>
                                    </div>
                                    <input id="phoneNumber" type="text" placeholder="901234567" style="margin: 0px;">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p class="form-messege text-danger"></p>
                            </div>
                            <div class="col-lg-12 mt--20">
                                <div id="recaptcha-container"></div>
                                <button type="button" class="button-link button-size__xl button__black submitBtn" onclick="SendVerificationCode()">
                                    <span class="button-text">@localizer["Continue"]</span>
                                    <span class="icon-right"><i class="spinner fa fa-circle-o-notch fa-spin fa-fw" style="color: white; display: none;"></i></span>
                                </button>
                            </div>
                        </div>

                        <!-- Code input -->
                        <div class="row" id="codeForm" style="display: none;">
                            <div class="col-lg-12">
                                <input id="code" type="text" placeholder="@localizer["CodeFromSMS"]">
                            </div>
                            <div class="col-lg-12 mt--20">
                                <p class="form-messege text-danger"></p>
                            </div>
                            <div class="col-lg-6 mt--20">
                                @*<button type="button" onclick="BackToPhoneNumberForm()">Назад</button>*@
                                <button type="button" class="button-link button-size__xl button__black backBtn" onclick="BackToPhoneNumberForm()">@localizer["Back"]</button>
                            </div>
                            <div class="col-lg-6 mt--20">
                                <button type="button" class="button-link button-size__xl button__black submitBtn" onclick="VerifyCode()">
                                    <span class="button-text">@localizer["Continue"]</span>
                                    <span class="icon-right"><i class="spinner fa fa-circle-o-notch fa-spin fa-fw" style="color: white; display: none;"></i></span>
                                </button>
                                @*<input type="submit" value="Продолжить" onclick="VerifyCode()">*@
                            </div>
                        </div>

                        <!-- Full name and username inputs form -->
                        <form asp-controller="Account" asp-action="Register" method="post" id="registrationForm" data-ajax="true" data-ajax-method="post" style="display: none;"
                              data-ajax-begin="RegistrationBegin"
                              data-ajax-failure="RegistrationError"
                              data-ajax-success="RegistrationSucceeded"
                              data-ajax-complete="RegistrationCompleted">
                            <div class="row">
                                <div class="col-lg-12 mt--20">
                                    <input asp-for="FirebaseUid" type="hidden" />

                                    <input asp-for="FullName" type="text" placeholder=@Html.DisplayNameFor(m => m.FullName) *">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 mt--20">
                                    <input asp-for="UserName" type="text" placeholder="@Html.DisplayNameFor(m => m.UserName) *">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 mt--20">
                                    <p class="form-messege text-danger"></p>
                                </div>
                                <div class="col-lg-6 mt--20">
                                    <button type="button" class="button-link button-size__xl button__black backBtn" onclick="BackToCodeForm()">@localizer["Back"]</button>
                                    @*<input type="submit" value="Назад" onclick="BackToCodeForm()">*@
                                </div>
                                <div class="col-lg-6 mt--20">
                                    <button type="submit" class="button-link button-size__xl button__black submitBtn">
                                        <span class="button-text">@localizer["Submit"]</span>
                                        <span class="icon-right"><i class="spinner fa fa-circle-o-notch fa-spin fa-fw" style="color: white; display: none;"></i></span>
                                    </button>
                                    @*<input type="submit" value="Отправить">*@
                                    @*<p class="form-messege">we fawe fwe we</p>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-1"></div>
        </div>
    </div>
</div>
<!-- End Contact Form -->

<style>
    #phoneNumber {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
    }
</style>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    @*<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>*@

    <script>
        var returnUrl = "@ViewBag.returnUrl";

        firebase.auth().languageCode = 'ru';

        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');

        var firebaseToken;

        function SendVerificationCode()
        {
            $("#phoneNumberForm .form-messege").html("");
            $("#phoneNumberForm input").attr("disabled", "disabled");
            $("#phoneNumberForm button").attr("disabled", "disabled");
            $("#phoneNumberForm .spinner").show();

            var phoneNumber = "+998" + $("#phoneNumber").val();
            var appVerifier = window.recaptchaVerifier;
            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                .then(function (confirmationResult)
                {
                    // SMS sent. Prompt user to type the code from the message, then sign the
                    // user in with confirmationResult.confirm(code).
                    window.confirmationResult = confirmationResult;

                    $("#phoneNumberForm").hide("fast");
                    $("#codeForm").show("fast");

                    $("#phoneNumberForm input").removeAttr("disabled");
                    $("#phoneNumberForm button").removeAttr("disabled");
                    $("#phoneNumberForm .spinner").hide();
                }).catch(function (error)
                {
                    // Error; SMS not sent
                    // ...
                    //console.log(error);
                    window.recaptchaVerifier.render().then(function (widgetId)
                    {
                        grecaptcha.reset(widgetId);
                    });

                    $("#phoneNumberForm input").removeAttr("disabled");
                    $("#phoneNumberForm button").removeAttr("disabled");
                    $("#phoneNumberForm .spinner").hide();

                    $("#phoneNumberForm .form-messege").html("@localizer["ErrorUnableToSendSMS"]")
                });
        }

        function VerifyCode()
        {
            $("#codeForm .form-messege").html("");
            $("#codeForm input").attr("disabled", "disabled");
            $("#codeForm button").attr("disabled", "disabled");
            $("#codeForm .spinner").show();

            var code = $("#code").val();
            confirmationResult.confirm(code).then(function (result)
            {
                // User signed in successfully.
                var user = result.user;
                firebaseToken = user.xa;
                //console.log(user);
                //console.log(user.uid);

                Authenticate(user.uid);
                // ...

                //firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function (idToken)
                //{
                //    // Send token to your backend via HTTPS
                //    // ...
                //    console.log(idToken);
                //}).catch(function (error)
                //{
                //    // Handle error
                //});
            }).catch(function (error)
            {
                //console.log(error);
                // User couldn't sign in (bad verification code?)
                // ...
                $("#codeForm .form-messege").html("@localizer["ErrorInvalidCode"]");
                $("#codeForm input").removeAttr("disabled");
                $("#codeForm button").removeAttr("disabled");
                $("#codeForm .spinner").hide();
            });
        }

        function Authenticate(firebaseUid)
        {
            $.ajax({
                type: "POST",
                url: "/Account/Authenticate?firebaseUid=" + firebaseUid + "&returnUrl=" + returnUrl,
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function ()
                {
                    //$("#codeForm .form-messege").html("");
                    //$("#codeForm input").attr("disabled", "disabled");
                },
                success: function (data)
                {
                    returnUrl = data.returnUrl;

                    if (data.registration_is_required == true)
                    {
                        $("#codeForm").hide("fast");
                        $("#registrationForm").show("fast");
                        $("#FirebaseUid").val(firebaseUid);
                    }
                    else
                    {
                        SaveFirebaseTokenInDB();
                    }
                },
                error: function (data)
                {
                    //console.log(data);
                    $("#codeForm .form-messege").html(data.responseJSON.errorMessage);
                    //alert("Ajax error (status code = " + data.status + "): " + data.responseJSON.errorMessage);
                },
                complete: function (data)
                {
                    $("#codeForm input").removeAttr("disabled");
                    $("#codeForm button").removeAttr("disabled");
                    $("#codeForm .spinner").hide();
                }
            });
        }

        function SaveFirebaseTokenInDB()
        {
            window.location.replace(returnUrl);
            //$.ajax({
            //    type: "POST",
            //    url: "/Firebase/SaveToken?token=" + firebaseToken,
            //    contentType: "application/json; charset=utf-8",
            //    //dataType: "json",
            //    beforeSend: function ()
            //    {
            //        //$("#codeForm .form-messege").html("");
            //        //$("#codeForm input").attr("disabled", "disabled");
            //    },
            //    success: function (data)
            //    {
            //        //window.location.replace("/");
            //        window.location.replace(returnUrl);
            //    },
            //    error: function (data)
            //    {
            //        //console.log(data);
            //        //$("#codeForm .form-messege").html(data.responseJSON.errorMessage);
            //        alert("Ajax error (status code = " + data.status + "): " + data.responseJSON.errorMessage);
            //    },
            //    complete: function (data)
            //    {
            //        //$("#codeForm input").removeAttr("disabled");
            //        //$("#codeForm button").removeAttr("disabled");
            //        //$("#codeForm .spinner").hide();
            //    }
            //});
        }

        function BackToPhoneNumberForm()
        {
            window.recaptchaVerifier.render().then(function (widgetId)
            {
                grecaptcha.reset(widgetId);
            });
            $("#codeForm").hide("fast");
            $("#phoneNumberForm").show("fast");
        }

        function BackToCodeForm()
        {
            $("#registrationForm").hide("fast");
            $("#codeForm").show("fast");
        }

        function RegistrationBegin(data)
        {
            //console.log(data);
            //console.log("begin");
            $("#registrationForm input").attr("disabled", "disabled");
            $("#registrationForm button").attr("disabled", "disabled");
            $("#registrationForm .spinner").show();

            $("#registrationForm .form-messege").last().html("");
        }

        function RegistrationError(data)
        {
            //console.log(data);
            //console.log("error!");

            var errorMessage = "";
            for (var key in data.responseJSON)
            {
                errorMessage += data.responseJSON[key] + "</br>";
            }
            $("#registrationForm .form-messege").last().html(errorMessage);
        }

        function RegistrationSucceeded(data)
        {
            //console.log(data);
            //console.log("success!");
            //window.location.replace("/");

            SaveFirebaseTokenInDB();
        }

        function RegistrationCompleted(data)
        {
            //console.log(data);
            //console.log("completed!");
            $("#registrationForm input").removeAttr("disabled");
            $("#registrationForm button").removeAttr("disabled");
            $("#registrationForm .spinner").hide();
        }
    </script>
}